.socialMediaLogo {
    width: 35px;
    padding: 7px;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

footer p {
    margin: 0;
}

@media (orientation: portrait) {
    .socialMediaLogo {
        width: 20px;
    }
    footer p {
        font-size: 10px;
    }
}