.countdownHeading {
    text-align: center;
}

#homeImage {
    width: 120vw;
    height: 92vh;
    margin-top: -6vw;
    opacity: .8;
    margin-left: -15%;
}

#countdownUntilExamDeadline {
    color: purple;
}

#countdownUntilSeminar {
    color: lightgrey;
    text-shadow: -.2vw .2vw .5vw black;
}

.countdownItem {
    color: purple;
    text-shadow: -.2vw .2vw .5vw black;
}

.liveText {
    color: red;
}

.countdownHeading p {
    margin: 0;
    padding: 0;
    font-size: 6vw;
    font-family: agency;
}

.countdownContainer {
    position: absolute;
    top: 30vh;
    width: 80%;
    margin: auto;
}

@media (orientation: portrait) {
    #homeCountdownContainer .countdownComponent .datePassedMessage {
        margin-top: 5px;
        font-size: 4vh;
    }
    #homeImage {
        height: 90vh;
        width: 175vh;
        margin-left: -25vh;
        margin-top: -10vh;
    }
    .countdownHeading p {
        font-size: 34px;
    }
    .countdownContainer {
        position: absolute;
        top: 14vh;
        margin: auto;
    }
}