.countdownHeading {
    text-align: center;
}

#homeImage {
    width: 120vw;
    margin-top: -6vw;
    opacity: .8;
    margin-left: -15%;
}

#countdownUntilExamDeadline  {
    color: purple;
}

#countdownUntilSeminar  {
    color: lightgrey;
}

.countdownItem {
    color: purple;
}

.countdownHeading p {
    margin: 0;
    padding: 0;
    font-size: 90px;
    font-family: agency;
}

.countdownContainer {
    margin-top: 18vh;
    position: absolute;
    top: 40%;
    width: 80%;
    margin: auto;
}

@media (orientation: portrait) {
    #homeImage {
        height: 110%;
    }

    .countdownHeading p {
        font-size: 15px;
    }

    .countdownContainer {
        position: absolute;
        top: 8vh;
        width: 80%;
        margin: auto;
     
    }
}