#navLinksList {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    /* line-height:2vh; */
    padding-top:1.2vw;
    margin:0;
}

.navElements {
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.navLink {
    font-size: 1.25vw;
    text-decoration: none;
    color: white;
}

.navLink:hover {
    color:purple;
}


#menuButton {
    width: 3vw;
    height: 2vw;
    margin-right: 5px;
    margin-top: .5vw;

    /* width: 20px;
    height: 20px; */
    float: right;
}

.change .bar1 {
    transform: rotate(-45deg) translate(0, 1.5vw);
  }
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: rotate(45deg) translate(0, -1.75vw);
}
  
.bar1, .bar2, .bar3 {
    width: 100%;
    height: .5vw;
    background-color: white;
    margin: .75vw 0;
    transition: 0.4s;
}

#navigationBarContainer {
    width: 60%;
    float: right;
}

@media (orientation:portrait) {
          
    #navigationBarContainer  {
        width: 0;
    }

    #menuButton {
        position: absolute;
        right: 0;
        z-index: 5;
    }

    #navLinksList {
        width:100px;
        background-color: purple;
        opacity: .9;
        height:100vh;
        display: block;
        animation-name: closeMenu;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        padding-top:8vh;
    }

    .navElements {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .navLink {
        font-size: 10px;
    }

    .navLink:hover {
        color: white;
    }

    #navLinksList.openMenu {
        animation-name: openMenu;
        animation-duration: 1s;
        animation-fill-mode:forwards;
    }

    @keyframes openMenu {
        from {margin-left:0;}
        to {margin-left:-100px;}
    }

    @keyframes closeMenu {
        from {margin-left:-100px;}
        to {margin-left:0;}
    }

}